/* src/components/publications.css */

.publications {
  padding: 40px 20px;
  position: relative; /* Allows positioning of child elements */
  overflow: hidden; /* Ensures nothing overflows out of the container */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire background */
  z-index: -1; /* Places the video behind other content */
  opacity: 0.8; /* Adjust opacity if necessary */
}

.publications h2 {
  font-size: 3rem; /* Larger font size for headings */
  margin-bottom: 20px;
  text-align: center;
  color: #fff; /* Light cream color for better readability */
  font-weight: bold;
  position: relative; /* Ensure the heading is positioned above the video */
  z-index: 1; /* Ensure the heading is above the video */
}

.publications-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive grid layout */
  gap: 20px; /* Space between items */
  padding: 20px; /* Padding around the container */
  background: rgba(
    255,
    255,
    255,
    0
  ); /* Transparent background for the container */
  border-radius: 0; /* No border radius */
  box-shadow: none; /* No shadow */
  position: relative; /* Ensure container is above the video */
  z-index: 1; /* Ensure the container is above the video */
}

.publication-item {
  background: rgba(
    255,
    255,
    255,
    0.6
  ); /* Slightly opaque background for items */
  border-radius: 8px;
  padding: 25px; /* Increased padding for better spacing */
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
  perspective: 1000px;
}

.publication-item-inner {
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.publication-item:hover .publication-item-inner {
  transform: rotateY(5deg) rotateX(2deg);
  filter: brightness(1.1);
}

.publication-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Subtle shadow on hover */
}

.publication-item h3 {
  font-size: 1.75rem; /* Larger font size for item titles */
  margin-bottom: 10px;
  color: #ff7043; /* Warm orange color for item titles */
}

.publication-item h3 a {
  color: #ff7043; /* Warm orange color for links */
  text-decoration: none;
}

.publication-item h3 a:hover {
  text-decoration: underline;
  color: #ff8a65; /* Lighter orange on hover */
}

.publication-item p {
  margin: 10px 0; /* Margin for better readability */
  color: #333; /* Dark text color for better contrast */
  font-size: 1.4rem; /* Larger font size for better readability */
}

.publication-date {
  font-size: 1rem; /* Font size for dates */
  color: #ff7043; /* Warm orange color for dates */
}
